<div class="container-fliud">
    <div class="col-7 d-flex flex-column align-items-star justify-content-center m-auto container py-5 mt-lg-0 mt-3 vh-100">
        <span class="grey-text">
            MY SPECIALTY
        </span>
        <h4 class="title">
            MY SKILLS
        </h4>
        <div class="mb-4">
            <p class="desc ">
                The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
            </p>
        </div>
        <div class="d-flex mb-3">
            <div class="col-6">
                <p>Photoshop</p>
                <div class="slidecontainer blue">
                    <input type="range" min="1" max="100" value="50" class="slider " id="myRange" >
                    <div class="progress-bar" [ngStyle]="{ 'width': blueProgressBarWidth + '%' }"></div>
                    <div class="circle">{{blueSliderValue}}</div>
                </div>
            </div>
            <div class="col-6">
                <p>jQuery</p>
                <div class="slidecontainer red">
                    <input type="range" min="1" max="100" value="50" class="slider " id="myRange" >
                    <div class="progress-bar" [ngStyle]="{ 'width': redProgressBarWidth + '%' }"></div>
                    <div class="circle">{{redSliderValue}}</div>
                </div>
            </div>
        </div>
        <div class="d-flex mb-3">
            <div class="col-6">
                <p>HTML5</p>
                <div class="slidecontainer yellow">
                    <input type="range" min="1" max="100" value="50" class="slider " id="myRange" >
                    <div class="progress-bar" [ngStyle]="{ 'width': yellowProgressBarWidth + '%' }"></div>
                    <div class="circle">{{yellowSliderValue}}</div>
                </div>
            </div>
            <div class="col-6">
                <p>CSS3</p>
                <div class="slidecontainer green">
                    <input type="range" min="1" max="100" value="50" class="slider " id="myRange" >
                    <div class="progress-bar" [ngStyle]="{ 'width': greenProgressBarWidth + '%' }"></div>
                    <div class="circle">{{greenSliderValue}}</div>
                </div>
            </div>
        </div>
        <div class="d-flex mb-3">
            <div class="col-6">
                <p>WordPress</p>
                <div class="slidecontainer purple">
                    <input type="range" min="1" max="100" value="50" class="slider " id="myRange" >
                    <div class="progress-bar" [ngStyle]="{ 'width': purpleProgressBarWidth + '%' }"></div>
                    <div class="circle">{{purpleSliderValue}}</div>
                </div>
            </div>
            <div class="col-6">
                <p>SEO</p>
                <div class="slidecontainer dark-blue">
                    <input type="range" min="1" max="100" value="50" class="slider " id="myRange" >
                    <div class="progress-bar" [ngStyle]="{ 'width': darkblueProgressBarWidth + '%' }"></div>
                    <div class="circle">{{darkblueSliderValue}}</div>
                </div>
            </div>
        </div>
    </div>
</div>